html,
body,
pre {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "Droid Sans Mono", monospace;
}

pre {
  white-space: pre-wrap;
  width: 60ex;
  line-height: 1.2em;
  color: black;
  font-size: 28px;
}
