html,
body,
pre {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "Droid Sans Mono", monospace;
}

pre {
  margin: 1em auto;
  line-height: 1.2em;
  width: 40ex;
  color: black;
  font-size: 28px;
  font-weight: bold;
}
